* {
    padding: 0;
    margin: 0;
	text-decoration: none;
    list-style: none;
    font-style: normal }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	background: #000000;
}
@media screen and (max-width:1440px) {
	.banner {
		width: 1200px;
	}
	header {
		width: 1366px;
	}
	.nav {
		height: 70px;
		line-height: 70px;
	}
	.nav span {
		display: inline-block;
		width: 117px;
		height: 26px;
		background: url(../image/DONG.png) no-repeat;
		margin-left: 100px;
		margin-bottom: -6px;
	}
	.nav ul {
		float: right;
	}
	.nav li {
		float: left;
		color: #FFFFFF;
	}
	.nav a {
		display: inline-block;
		width: 112px;
		text-align: center;
		color: snow;
	}
	.nav .currt {
		font-weight: 700;
		font-size: 18px;
		color: #ffffff;
	}
	.img {
		width: 1366px;
		height: auto;
	}
	.img img {
		width: 100%;
	}
	
	.top_on {
		width: 1366px;
		height: 686px;
		background: #FFFFFF;
	}
	.top {
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
	.top .zimu1 {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
		color: #000000;
		position: absolute;
		left: 0px;
		top: 150px;
		text-align: left;
	}
	.top .p {
		width: 440px;
		font-size: 18px;
		font-family: "microsoft yahei";
		display: inline-block;
		text-align: left;
		position: absolute;
		left: 0px;
		top: 262px;
	}
	.top .img {
		width: 196px;
		position: absolute;
		right: 200px;
		top: 100px;
	}
	.top .logo {
		display: inline-block;
		width: 14px;
		height: 59px;
		background: url(../image/DONG-small.png) no-repeat;
		position: absolute;
		left: 0;
		top: 400px;
	}
	.top .div1 {
		display: inline-block;
		width: 80px;
		height: 105px;
		font-size: 18px;
		text-align: center;
		position: absolute;
		left: 350px;
		bottom: 146px;
	} 
    .top .div1 p {
		margin-top: 30px;
		font-family: "microsoft yahei";
	}
	.top .div2 {
		display: inline-block;
		width: 80px;
		height: 105px;
		font-size: 18px;
		text-align: center;
		position: absolute;
		left: 550px;
		bottom: 146px;
	}
	.top .div2 p {
		margin-top: 30px;
		font-family: "microsoft yahei";
	}
	.top .div3 {
		display: inline-block;
		width: 80px;
		height: 105px;
		font-size: 18px;
		text-align: center;
		position: absolute;
		left: 750px;
		bottom: 146px;
	}
	.top .div3 p {
		margin-top: 30px;
		font-family: "microsoft yahei";
	}
	.top .shuzi1 {
		font-family: "HYK2gj";
		font-size: 118px;
		color: #ffab26;
		position: absolute;
		right: 30px;
		bottom: 140px;
		font-weight: 700;
	}
	.top .zimu2 {
		font-family: "microsoft yahei";
		font-size: 18px;
		font-weight: 700;
		color: #000000;
		position: absolute;
		right: 40px;
		bottom: 155px;
	}
	.main .mid {
		width: 60%;
		height: 7.6rem;
		margin-left: 20%;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		position: relative;
	}
	.main .mid span {
		display: inline-block;
	}
	.main .mid .div1 {
		width: 1.77rem;
		height: 0.45rem;
		position: absolute;
		left: 40%;
		top: 1.27rem;
		
	}
	.main .mid .top1 {
		width: 1.77rem;
		height: 0.2rem;
		float: left;
	}
	.main .mid .btm1 {
		width: 1.77rem;
		height: 0.25rem;
		background: #ffab26;
		float: left;
	}
	.main .mid .wenzi1 {
		display: inline-block;
		height: 0.45rem;
		float: left;font-family: "microsoft yahei";
		font-size: 0.36rem;
		position: absolute;
		left: 42%;
		top: 1.20rem;
	}
	.mid_on {
		width: 1366px;
		height: 760px;
		background: #FFFFFF;
	}
	.mid {
		height: 100%;
		margin: 0 auto;
		position: relative;
		border-top: 2px solid #dedede;
		border-bottom: 2px solid #dedede;
	}
	.mid .div1 {
		display: inline-block;
		width: 177px;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 127px;
		margin-left: -88.5px;
	}
	.mid .div1 .top1 {
		display: inline-block;
		width: 177px;
		height: 25px;
	}
	.mid .div1 .btm1 {
		display: inline-block;
		width: 177px;
		height: 25px;
		background: orange;
		margin-top: -3px;
	}
	.mid .wenzi1 {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 36px;
		position: absolute;
		left: 50%;
		top: 120px;
		margin-left: -72px;
	}
	.mid .logo {
		display: inline-block;
		width: 14px;
		height: 59px;
		background: url(../image/DONG-small.png) no-repeat;
		position: absolute;
		left: 0;
		top: 308px;
	}
	.mid .zimu3 {
		font-family: "microsoft yahei";
		font-size: 36px;
		position: absolute;
		left: 50%;
		top: 206px;
		margin-left: -158.5px;
	}
	.mid .line {
		width: 56px;
		height: 31px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		top: 253px;
		margin-left: -28px;
	}
	.mid .bfs {
		width: 1000px;
		position: absolute;
		left: 50%;
		top: 443px;
		margin-left: -500px;
		position: relative;
	}
	.mid .bfs .bfs1 {
		width: 110px;
		text-align: center;
		position: relative;
		position: absolute;
		top: 5px;
	}
	.mid .bfs .bfs1 .bfs_top {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
	}
	.mid .bfs .bfs1 .bfs_mid {
		width: 44px;
		height: 30px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		margin-left: -22px;
	}
	.mid .bfs .bfs1 .bfs_btm {
		font-family: "microsoft yahei";
		font-size: 18px;
		position: absolute;
		top: 139px;
	}
	.mid .bfs .bfs2 {
		width: 110px;
		text-align: center;
		margin-left: 200px;
		position: relative;
		position: absolute;
		top: 5px;
	}
	.mid .bfs .bfs2 .bfs_top {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
	}
	.mid .bfs .bfs2 .bfs_mid {
		width: 44px;
		height: 30px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		margin-left: -22px;
	}
	.mid .bfs .bfs2 .bfs_btm {
		font-family: "microsoft yahei";
		font-size: 18px;
		position: absolute;
		top: 139px;
	}
	.mid .bfs .bfs3 {
		width: 110px;
		text-align: center;
		margin-left: 400px;
		position: relative;
		position: absolute;
		top: 5px;
	}
	.mid .bfs .bfs3 .bfs_top {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
	}
	.mid .bfs .bfs3 .bfs_mid {
		width: 44px;
		height: 30px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		margin-left: -22px;
	}
	.mid .bfs .bfs3 .bfs_btm {
		font-family: "microsoft yahei";
		font-size: 18px;
		position: absolute;
		top: 139px;
	}
	.mid .bfs .bfs4 {
		width: 110px;
		text-align: center;
		margin-left: 600px;
		position: relative;
		position: absolute;
		top: 5px;
	}
	.mid .bfs .bfs4 .bfs_top {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
	}
	.mid .bfs .bfs4 .bfs_mid {
		width: 44px;
		height: 30px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		margin-left: -22px;
	}
	.mid .bfs .bfs4 .bfs_btm {
		width: 200px;
		font-family: "microsoft yahei";
		font-size: 18px;
		position: absolute;
		top: 139px;
		margin-left: -20px;
		text-align: left;
	}
	.mid .bfs .bfs5 {
		width: 110px;
		text-align: center;
		margin-left: 800px;
		position: relative;
		position: absolute;
		top: 5px;
	}
	.mid .bfs .bfs5 .bfs_top {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
	}
	.mid .bfs .bfs5 .bfs_mid {
		width: 44px;
		height: 30px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		margin-left: -22px;
	}
	.mid .bfs .bfs5 .bfs_btm {
		font-family: "microsoft yahei";
		font-size: 18px;
		position: absolute;
		left: 50%;
		top: 139px;
		margin-left: -18px;
	}
	
	.btm_on {
		width: 1366px;
		height: 1252px;
		background: #FFFFFF;
	}
	.btm {
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
	.btm .div1 {
		display: inline-block;
		width: 177px;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 127px;
		margin-left: -88.5px;
	}
	.btm .div1 .top1 {
		display: inline-block;
		width: 177px;
		height: 25px;
	}
	.btm .div1 .btm1 {
		display: inline-block;
		width: 177px;
		height: 25px;
		background: orange;
		margin-top: -3px;
	}
	.btm .wenzi1 {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 36px;
		position: absolute;
		left: 50%;
		top: 120px;
		margin-left: -72px;
	}
	.btm .zimu3 {
		font-family: "microsoft yahei";
		font-size: 36px;
		position: absolute;
		left: 50%;
		top: 206px;
		margin-left: -145px;
	}
	.btm .line {
		width: 56px;
		height: 31px;
		border-bottom: 5px solid #000000;
		position: absolute;
		left: 50%;
		top: 253px;
		margin-left: -28px;
	}
	.btm .img {
		width: 1200px;
		height: 578px;
		position: absolute;
		top: 393px;
	}
	.btm .img1 {
		width: 328px;
		height: 289px;
		float: left;
		background: snow;
	}
	.btm .img1 img {
		height: 214px;
	}
	.btm .img1 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img1 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	
	.btm .img2 {
		width: 328px;
		height: 289px;
		float: left;
		margin-left: 108px;
		background: snow;
	}
	.btm .img2 img {
		height: 214px;
	}
	.btm .img2 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img2 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	
	.btm .img3 {
		width: 328px;
		height: 289px;
		float: left;
		margin-left: 108px;
		background: snow;
	}
	.btm .img3 img {
		height: 214px;
	}
	.btm .img3 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img3 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img4 {
		width: 328px;
		height: 289px;
		float: left;
		margin-top: 80px;
		background: snow;
	}
	.btm .img4 img {
		height: 214px;
	}
	.btm .img4 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img4 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img5 {
		width: 328px;
		height: 289px;
		float: left;
		margin-left: 108px;
		margin-top: 80px;
		background: snow;
	}
	.btm .img5 img {
		height: 214px;
	}
	.btm .img5 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img5 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img6 {
		width: 328px;
		height: 289px;
		float: left;
		margin-left: 108px;
		margin-top: 80px;
		background: snow;
	}
	.btm .img6 img {
		height: 214px;
	}
	.btm .img6 span {
		display: inline-block;
		font-family: "microsoft yahei";
		font-size: 18px;
		margin-left: 30px;
		margin-top: 8px;
	}
	.btm .img6 p {
		font-family: "microsoft yahei";
		font-size: 14px;
		color: #666666;
		margin-left: 30px;
		margin-top: 8px;
	}
	footer {
		width: 1366px;
	}
	.footer {
		height: 150px;
		font-family: "microsoft yahei";
		font-size: 18px;
		color: #FFFFFF;
		text-align: center;
	}
	.footer span {
		display: inline-block;
		margin-top: 50px;
	}
	.footer p {
		margin-top: 5px;
	}
}
@media screen and (min-width:1440px) and (max-width:1920px) {
	.banner {
		width: 1200px;
	}
	header {
		width: 1920px;
	}
	.nav {
		height: 70px;
		line-height: 70px; 
	}
	.nav span {
		display: inline-block;
		width: 117px;
		height: 26px;
		background: url(../image/DONG.png) no-repeat;
		margin-left: 100px;		
	}
	.nav ul {
		float: right;
	}
	.nav li {
		float: left;
		color: #FFFFFF;
	}
	.nav a {
		display: inline-block;
		width: 112px;
		text-align: center;
		color: snow;
	}
	.nav .currt {
		font-weight: 700;
		font-size: 18px;
		color: #ffffff;
	}
	.img {
		width: 1920px;
		height: auto;
	}
	.img img {
		width: 100%;
	}
	
	.top_on {
		width: 1920px;
		height: 686px;
		background: #FFFFFF;
	}
	.top {
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
	.top .zimu1 {
		font-family: "microsoft yahei";
		font-size: 48px;
		font-weight: 700;
		color: #000000;
		position: absolute;
		top: 150px;
		text-align: left;
	}
}

